<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{admin/fragments/head :: head}"> </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <header th:replace="~{admin/fragments/header :: header}"></header>

      <!-- =============================================== -->

      <!-- Left side column. contains the sidebar -->
      <aside th:replace="~{admin/fragments/aside :: aside}"></aside>

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Quản lý bài viết</h1>
          <ol class="breadcrumb">
            <li>
              <a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a>
            </li>
            <li><a th:href="@{/admin/article}">Bài viết</a></li>
            <li class="active">Thêm bài viết</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới bài viết</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form
              th:object="${article}"
              th:action="@{/admin/article/add}"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                      <label for="articleCategory">Danh mục</label>
                      <select
                        id="articleCategory"
                        th:field="*{category.id}"
                        required
                        class="form-control"
                      >
                        <option
                          th:each="category, catStat : ${categoryList}"
                          th:value="${category.id}"
                          th:text="${category.name}"
                        ></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="articleTitle">Tiêu đề</label>
                      <input
                        class="form-control"
                        id="articleTitle"
                        th:field="*{title}"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="articleIntroductionText">Giới thiệu</label>
                      <textarea
                        id="articleIntroductionText"
                        th:field="*{introductionText}"
                        class="form-control"
                        rows="1"
                      >
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="" for="articleIsActive">
                        <input
                          type="checkbox"
                          id="articleIsActive"
                          th:field="*{isActive}"
                        />
                        Hiển thị
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <input th:field="*{imageUrl}" hidden />
                    <input
                      type="file"
                      id="image"
                      style="display: none"
                      name="image"
                    />

                    <div class="form-group">
                      <label for="image"> Ảnh đại diện </label>

                      <label
                        id="image-label"
                        for="image"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          height: 200px;
                          width: 100%;
                          font-size: 40px;
                          cursor: pointer;
                          border: 1px dashed #000;
                          overflow: hidden;
                        "
                      >
                        <i class="fa fa-image"></i>
                      </label>
                    </div>
                    <script>
                      const imageElm = document.getElementById("image");
                      imageElm.addEventListener("change", function (e) {
                        const file = e.target.files[0];
                        document.getElementById("image-label").innerHTML = file
                          ? `
                              <img src="${URL.createObjectURL(
                                file
                              )}" alt="thumbnail" height="180px" width="180px" />
                            `
                          : `<i class="fa fa-image"></i>`;
                      });
                    </script>
                  </div>
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="articleContent">Nội dung</label>
                      <div id="editor"></div>
                      <script>
                        ClassicEditor.create(document.querySelector("#editor"))
                          .then((createdEditor) => {
                            // Lưu trữ tham chiếu đến đối tượng CKEditor
                            editor = createdEditor;

                            // Bắt sự kiện onchange
                            editor.model.document.on("change", () => {
                              // Xử lý sự kiện onchange ở đây
                              const text = editor.getData();
                              document.getElementById("content").value = text;
                            });
                          })
                          .catch((error) => {
                            console.error(error);
                          });
                      </script>
                      <input hidden th:field="*{content}" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
              </div>
            </form>
          </div>

          <!-- /.box -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <footer th:replace="~{/admin/fragments/footer :: footer}"></footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->

    <th:block th:replace="~{/admin/fragments/scripts :: scripts}"></th:block>
  </body>
</html>
