<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{admin/fragments/head :: head}"></th:block>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__shake"
          th:src="@{/assets/dist/img/AdminLTELogo.png}"
          alt="AdminLTELogo"
          height="60"
          width="60"
        />
      </div>

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a th:href="@{/admin}" class="nav-link">Trang chủ</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a th:href="@{/admin/article}" class="nav-link">Bài viết</a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul th:replace="~{admin/fragments/rightnav :: rightnav}"></ul>
      </nav>

      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{admin/fragments/aside :: aside}"></aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Quản lý bài viết</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a th:href="@{/admin}">Trang chủ</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a th:href="@{/admin/article}">Bài viết</a>
                  </li>
                  <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">
                <!-- small box -->
                <form
                  th:object="${article}"
                  th:action="@{/admin/article/add}"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Thêm mới bài viết</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <div class="box-body">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group">
                              <label for="articleCategory">Danh mục</label>
                              <select
                                id="articleCategory"
                                th:field="*{category.id}"
                                required
                                class="form-control"
                              >
                                <option
                                  th:each="category, catStat : ${categoryList}"
                                  th:value="${category.id}"
                                  th:text="${category.name}"
                                ></option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="articleTitle">Tiêu đề</label>
                              <input
                                class="form-control"
                                id="articleTitle"
                                th:field="*{title}"
                                required
                              />
                            </div>
                            <div class="form-group">
                              <label for="articleIntroductionText"
                                >Giới thiệu</label
                              >
                              <textarea
                                id="articleIntroductionText"
                                th:field="*{introductionText}"
                                class="form-control"
                                rows="1"
                              >
                              </textarea>
                            </div>
                            <div class="form-group">
                              <label class="" for="articleIsActive">
                                <input
                                  type="checkbox"
                                  id="articleIsActive"
                                  th:field="*{isActive}"
                                />
                                Hiển thị
                              </label>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <input th:field="*{imageUrl}" hidden />
                            <input
                              type="file"
                              id="image"
                              style="display: none"
                              name="image"
                            />

                            <div class="form-group">
                              <label for="image"> Ảnh đại diện </label>

                              <label
                                id="image-label"
                                for="image"
                                style="
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                  height: 200px;
                                  width: 100%;
                                  font-size: 40px;
                                  cursor: pointer;
                                  border: 1px dashed #000;
                                  overflow: hidden;
                                "
                              >
                                <i class="fa fa-image"></i>
                              </label>
                            </div>
                            <script>
                              const imageElm = document.getElementById("image");
                              imageElm.addEventListener("change", function (e) {
                                const file = e.target.files[0];
                                document.getElementById(
                                  "image-label"
                                ).innerHTML = file
                                  ? `
                                    <img src="${URL.createObjectURL(
                                      file
                                    )}" alt="thumbnail" height="180px" width="180px" />
                                  `
                                  : `<i class="fa fa-image"></i>`;
                              });
                            </script>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="articleContent">Nội dung</label>
                              <div id="editor"></div>
                              <script>
                                ClassicEditor.create(
                                  document.querySelector("#editor")
                                )
                                  .then((createdEditor) => {
                                    // Lưu trữ tham chiếu đến đối tượng CKEditor
                                    editor = createdEditor;

                                    // Bắt sự kiện onchange
                                    editor.model.document.on("change", () => {
                                      // Xử lý sự kiện onchange ở đây
                                      const text = editor.getData();
                                      document.getElementById("content").value =
                                        text;
                                    });
                                    editor.editing.view.change((writer) => {
                                      writer.setStyle(
                                        "min-height",
                                        "300px",
                                        editor.editing.view.document.getRoot()
                                      );
                                    });
                                    window.editor = editor;
                                  })
                                  .catch((error) => {
                                    console.error(error);
                                  });
                              </script>
                              <input hidden th:field="*{content}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->

                      <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                          Thêm mới
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- /.row (main row) -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer th:replace="~{admin/fragments/footer :: footer}"></footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <th:block th:replace="~{admin/fragments/scripts :: scripts}"></th:block>
    <th:block th:replace="~{admin/fragments/toastr :: toastr}"></th:block>
  </body>
</html>
