<th:block th:fragment="fe_fixed_elm">
  <!-- preloader -->
  <div id="preloader">
    <div class="loader-inner">
      <div id="loader">
        <h2 id="bg-loader">zaira<span>.</span></h2>
        <h2 id="fg-loader">zaira<span>.</span></h2>
      </div>
    </div>
  </div>
  <!-- preloader-end -->

  <!-- Dark/Light-toggle -->
  <div class="darkmode-trigger">
    <label class="modeSwitch">
      <input type="checkbox" />
      <span class="icon"></span>
    </label>
  </div>
  <!-- Dark/Light-toggle-end -->

  <!-- Scroll-top -->
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
  </button>
  <!-- Scroll-top-end-->
</th:block>
