<head th:fragment="fe_head">
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Zaira - News Magazine HTML Template</title>
  <meta name="description" content="Zaira - News Magazine HTML Template" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    rel="shortcut icon"
    type="image/x-icon"
    th:href="@{/assets/fe/img/favicon.png}"
  />
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" th:href="@{/assets/fe/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/animate.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/magnific-popup.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/fontawesome-all.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/flaticon.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/slick.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/swiper-bundle.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/default.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/style.css}" />
  <link rel="stylesheet" th:href="@{/assets/fe/css/responsive.css}" />
</head>
