<th:block th:fragment="fe_scripts">
  <script th:src="@{/assets/fe/js/vendor/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/assets/fe/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/fe/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/assets/fe/js/slick.min.js}"></script>
  <script th:src="@{/assets/fe/js/swiper-bundle.js}"></script>
  <script th:src="@{/assets/fe/js/ajax-form.js}"></script>
  <script th:src="@{/assets/fe/js/wow.min.js}"></script>
  <script th:src="@{/assets/fe/js/main.js}"></script>
</th:block>
