<section
  class="newsletter-area newsletter-area-two"
  th:fragment="fe_home_newsletter"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="newsletter-wrap newsletter-wrap-two">
          <div class="newsletter-content">
            <h2 class="title">Get Our Latest Gaming News & Update</h2>
          </div>
          <div class="newsletter-form">
            <form action="#">
              <div class="form-grp">
                <input type="text" placeholder="Name" />
              </div>
              <div class="form-grp">
                <input type="email" placeholder="E-mail" />
              </div>
              <button type="submit" class="btn">Submit Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
