<section class="weekly-post-area pt-80 pb-80" th:fragment="fe_home_weekly_post">
  <div class="container">
    <div class="weekly-post-inner-wrap">
      <div class="row justify-content-center">
        <div class="col-70">
          <div class="section-title-wrap-three mb-40">
            <div class="section-title-three">
              <h6 class="title">
                Weekly Best News
                <span class="section-title-svg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 246 40"
                    fill="none"
                    preserveAspectRatio="none"
                  >
                    <path
                      d="M10.1448 2.85061C10.6524 1.15867 12.2097 0 13.9761 0H241.624C244.303 0 246.225 2.58294 245.455 5.14939L235.855 37.1494C235.348 38.8413 233.79 40 232.024 40H4.37612C1.69667 40 -0.225117 37.4171 0.544817 34.8506L10.1448 2.85061Z"
                      fill="currentcolor"
                    />
                  </svg>
                </span>
              </h6>
              <div class="section-title-line-three"></div>
            </div>
          </div>
          <div class="weekly-post-item-wrap">
            <div class="weekly-post-item">
              <div class="weekly-post-thumb">
                <a href="blog-details.html"
                  ><img
                    th:src="@{/assets/fe/img/blog/weekly_post01.jpg}"
                    alt=""
                /></a>
              </div>
              <div class="weekly-post-content">
                <a href="blog.html" class="post-tag">Fighter</a>
                <h2 class="post-title">
                  <a href="blog-details.html"
                    >Taking The Stress Out Of Design System Management</a
                  >
                </h2>
                <div class="blog-post-meta">
                  <ul class="list-wrap">
                    <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                    <li><i class="flaticon-history"></i>20 Mins</li>
                  </ul>
                </div>
                <p>
                  Browned butter and brown sugar caramelly oodness crispy
                  edgesthick and soft centers and melty little puddles of
                  chocolate y first favorite.
                </p>
                <div class="view-all-btn">
                  <a href="blog-details.html" class="link-btn"
                    >Read More
                    <span class="svg-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 10 10"
                        fill="none"
                      >
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="weekly-post-item">
              <div class="weekly-post-thumb">
                <a href="blog-details.html"
                  ><img
                    th:src="@{/assets/fe/img/blog/weekly_post02.jpg}"
                    alt=""
                /></a>
              </div>
              <div class="weekly-post-content">
                <a href="blog.html" class="post-tag">Racing</a>
                <h2 class="post-title">
                  <a href="blog-details.html"
                    >Boosting Productivity For Designers With Efficient Tools</a
                  >
                </h2>
                <div class="blog-post-meta">
                  <ul class="list-wrap">
                    <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                    <li><i class="flaticon-history"></i>20 Mins</li>
                  </ul>
                </div>
                <p>
                  Browned butter and brown sugar caramelly oodness crispy
                  edgesthick and soft centers and melty little puddles of
                  chocolate y first favorite.
                </p>
                <div class="view-all-btn">
                  <a href="blog-details.html" class="link-btn"
                    >Read More
                    <span class="svg-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 10 10"
                        fill="none"
                      >
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="weekly-post-item">
              <div class="weekly-post-thumb">
                <a href="blog-details.html"
                  ><img
                    th:src="@{/assets/fe/img/blog/weekly_post03.jpg}"
                    alt=""
                /></a>
              </div>
              <div class="weekly-post-content">
                <a href="blog.html" class="post-tag">Action</a>
                <h2 class="post-title">
                  <a href="blog-details.html"
                    >How To Prioritize User Security When Collecting Offline
                    Data</a
                  >
                </h2>
                <div class="blog-post-meta">
                  <ul class="list-wrap">
                    <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                    <li><i class="flaticon-history"></i>20 Mins</li>
                  </ul>
                </div>
                <p>
                  Browned butter and brown sugar caramelly oodness crispy
                  edgesthick and soft centers and melty little puddles of
                  chocolate y first favorite.
                </p>
                <div class="view-all-btn">
                  <a href="blog-details.html" class="link-btn"
                    >Read More
                    <span class="svg-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 10 10"
                        fill="none"
                      >
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="weekly-post-item">
              <div class="weekly-post-thumb">
                <a href="blog-details.html"
                  ><img
                    th:src="@{/assets/fe/img/blog/weekly_post04.jpg}"
                    alt=""
                /></a>
              </div>
              <div class="weekly-post-content">
                <a href="blog.html" class="post-tag">Animation</a>
                <h2 class="post-title">
                  <a href="blog-details.html"
                    >The Anatomy Of Themed Design System Components</a
                  >
                </h2>
                <div class="blog-post-meta">
                  <ul class="list-wrap">
                    <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                    <li><i class="flaticon-history"></i>20 Mins</li>
                  </ul>
                </div>
                <p>
                  Browned butter and brown sugar caramelly oodness crispy
                  edgesthick and soft centers and melty little puddles of
                  chocolate y first favorite.
                </p>
                <div class="view-all-btn">
                  <a href="blog-details.html" class="link-btn"
                    >Read More
                    <span class="svg-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 10 10"
                        fill="none"
                      >
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                        <path
                          d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z"
                          fill="currentColor"
                        />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-30">
          <div class="sidebar-wrap sidebar-wrap-two">
            <div class="sidebar-widget sidebar-widget-two">
              <div class="widget-title-two mb-30">
                <h6 class="title">
                  Hot News
                  <span class="section-title-svg">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 246 40"
                      fill="none"
                      preserveAspectRatio="none"
                    >
                      <path
                        d="M10.1448 2.85061C10.6524 1.15867 12.2097 0 13.9761 0H241.624C244.303 0 246.225 2.58294 245.455 5.14939L235.855 37.1494C235.348 38.8413 233.79 40 232.024 40H4.37612C1.69667 40 -0.225117 37.4171 0.544817 34.8506L10.1448 2.85061Z"
                        fill="currentcolor"
                      />
                    </svg>
                  </span>
                </h6>
                <div class="section-title-line-three"></div>
              </div>
              <div class="hot-post-wrap">
                <div class="hot-post-item">
                  <div class="hot-post-thumb">
                    <a href="blog-details.html"
                      ><img
                        th:src="@{/assets/fe/img/blog/g_hot_post.jpg}"
                        alt=""
                    /></a>
                  </div>
                  <div class="hot-post-content">
                    <a href="blog.html" class="post-tag-two">Fighter</a>
                    <h4 class="post-title">
                      <a href="blog-details.html"
                        >Racing Games Browned Buttadert Cookies Daily
                        Breakfast</a
                      >
                    </h4>
                    <div class="blog-post-meta">
                      <ul class="list-wrap">
                        <li>
                          <i class="flaticon-calendar"></i>27 August, 2024
                        </li>
                        <li><i class="flaticon-history"></i>20 Mins</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="hot-post-item">
                  <div class="hot-post-content">
                    <a href="blog.html" class="post-tag-two">Action</a>
                    <h4 class="post-title">
                      <a href="blog-details.html"
                        >The Anatomy Of Themed Design System Components</a
                      >
                    </h4>
                    <div class="blog-post-meta">
                      <ul class="list-wrap">
                        <li>
                          <i class="flaticon-calendar"></i>27 August, 2024
                        </li>
                        <li><i class="flaticon-history"></i>20 Mins</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="hot-post-item">
                  <div class="hot-post-content">
                    <a href="blog.html" class="post-tag-two">Story</a>
                    <h4 class="post-title">
                      <a href="blog-details.html"
                        >Taking The Stress Out Of Design System Management</a
                      >
                    </h4>
                    <div class="blog-post-meta">
                      <ul class="list-wrap">
                        <li>
                          <i class="flaticon-calendar"></i>27 August, 2024
                        </li>
                        <li><i class="flaticon-history"></i>20 Mins</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidebar-widget">
              <div class="sidebar-img">
                <a href="#">
                  <img
                    th:src="@{/assets/fe/img/images/sidebar_img01.jpg}"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
